@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat Regular";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/font/montserrat-v24-latin-regular.woff) format("woff");
  }
}
